
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
::-webkit-scrollbar {
    width: 6px;
    background: #5a5a5a00;
}
::-webkit-scrollbar-thumb {
    background: #f37500;
}

.btn-personalizado.btn-personalizado.btn-personalizado {
    border-radius: 100%;
}

.btn-personalizado.btn-personalizado.btn-personalizado:active {
    background-color: rgb(197, 197, 197);
    border: 1px solid #5a5a5a00;
    border-radius: 100%;
}

.text-atualizar {
    color: #f37500;
}

.btn-personalizado-tema {
    background-color: #f37500;
    border: none;
}

.box-shadow-tema:focus {
    -webkit-box-shadow: 1px 1px 2px 2px rgba(243,117,0,0.47);
    -moz-box-shadow: 1px 1px 2px 2px rgba(243,117,0,0.47);
    box-shadow: 0px 0px 0px 4px rgba(243,117,0,0.47);
    border-color: #f37500;
}

.check-tema:focus, .check-tema:active, .check-tema:checked {
    background-color: #f37500;
    border-color: #f37500;
}

.dropdown-item:focus {
    background-color: #f37500;
}